bind-address = "0.0.0.0"

CREATE USER 'pos_user'@'%' IDENTIFIED BY 'pos123';
GRANT ALL PRIVILEGES ON kainan_pos.* TO 'pos_user'@'%';
FLUSH PRIVILEGES;
EXIT;

// Index for table 'db' is corrupt; try to repair it

REPAIR TABLE mysql.db;
GRANT ALL PRIVILEGES ON kainan_pos.* TO 'pos_user'@'%';
FLUSH PRIVILEGES;
EXIT;

//global priv corrupt

Delete the following files (if they exist):

aria_log_control
aria_log.00000001
aria_log.00000002 (and any other numbers)

RESTART

mysql_upgrade -u root -p --force

mysql -u root -p
GRANT ALL PRIVILEGES ON kainan_pos.* TO 'pos_user'@'%';
FLUSH PRIVILEGES;
EXIT;

